.wrap-product {
    width: 540px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.wrap-product > .buttons {
    position: absolute;
    transform: translateY(98px);
}